# RStudio project files
*.Rproj
.Rproj.user/
.Ruserdata

# R session / history
.Rhistory
.RData

# Build / output
inst/doc
*.log
*.pdf
*.html
*.aux

# R CMD build/check artifacts
*.tar.gz
*.Rcheck/
docs/
